<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PixelTrice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
</head>
<body class="center">
<br>
<h1 class="text-center">Spring Boot Image Gallery Application
    <a href="/home" class="btn btn-danger text-right">Go Home</a>
</h1>
<br><br>
<div class="center">
<!--    <video width="320" height="240" controls>-->
<!--        <source src="https://youtu.be/xYD2SQljwJo?list=RDMM5goMslKxEWs">-->
<!--        Your browser does not support the video tag.-->
<!--    </video>-->
<!--    <iframe width="853" height="480" src="https://media.istockphoto.com/photos/group-portrait-of-a-creative-business-team-standing-outdoors-three-picture-id1146473249?s=612x612" frameborder="0"-->
<!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

    <iframe width="853" height="480" th:src="${image}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!--    <iframe th:src="${image}" style="height:400px;width:400px"></iframe>-->
<!--        <img th:src="${image}" class="center">-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
</body>
</html>
